h1 {
    color: aqua;
}

/* tablet view */
@media (max-width: 768px) {
    h1 {
        color: black;
    }
}
/* mobile view: usually 360 */
@media (max-width: 500px) {
    h1 {
        color: red;
        font-family: 'Courier New', Courier, monospace;
    }
}
/* total view, desktop */